@media print{
    .modall{

        width: 59mm;
    }
}
@media print{
    .printbtn{
        display: none;
    }
    .top{
        display: flex;
        flex-direction: column;
        gap: 0px;
    }
}